<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.mcp.modelContextProtocolServer"
         id="org.eclipse.mcp.test.junit.plugin.extension"
         name="JUnit Test Services">
      <category
            id="org.eclipse.mcp.test.junit.plugin.extension.category"
            name="extension.category">
      </category>
      <server
            description="server.description"
            id="org.eclipse.mcp.test.junit.plugin.extension.server"
            name="server.name"
            version="server.version"
            defaultPort="server.port">
      </server>
      <asdf/>
      <tool
            class="org.eclipse.mcp.test.junit.plugin.extension.MCPTool"
            id="org.eclipse.mcp.test.junit.plugin.extension.tool"
            name="tool.name"
            description="tool.description"
            categoryId="org.eclipse.mcp.test.junit.plugin.extension.category"
            schema="{
  &quot;type&quot;: &quot;object&quot;,
  &quot;properties&quot;: {
    &quot;name&quot;: {
      &quot;type&quot;: &quot;string&quot;
    }
  },
  &quot;required&quot;: [&quot;name&quot;]
}">
            <propertyPage
               id=" org.eclipse.mcp.test.junit.plugin.extension.SamplePropertyPage">
         	</propertyPage>
      </tool>
      <toolServerBinding
            serverId="org.eclipse.mcp.test.junit.plugin.extension.server"
            toolId="org.eclipse.mcp.test.junit.plugin.extension.tool">
      </toolServerBinding>
      <resourceController
            class="org.eclipse.mcp.test.junit.plugin.extension.MCPResourceController"
            id="org.eclipse.mcp.test.junit.plugin.extension.controller"
            name="controller.name"
            description="controller.description"
            categoryId="org.eclipse.mcp.test.junit.plugin.extension.category">
            <propertyPage
               id=" org.eclipse.mcp.test.junit.plugin.extension.SamplePropertyPage">
         	</propertyPage>
      </resourceController>
      <resourceControllerServerBinding
            serverId="org.eclipse.mcp.test.junit.plugin.extension.server"
            resourceControllerId="org.eclipse.mcp.test.junit.plugin.extension.controller">
      </resourceControllerServerBinding>
   </extension>
   
   <!-- uncpmment ttp test Extemsopm<amager [arser extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.eclipse.mcp.test.junit.plugin.extension.SamplePropertyPage"
            name="Sample Page"
            class="org.eclipse.mcp.test.junit.plugin.extension.SamplePropertyPage"
            nameFilter="*.*">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.mcp.modelContextProtocolServer"
         id="org.eclipse.mcp.test.junit.plugin.extension.failures"
         name="JUnit Test Services Failures">
      <category
            id="org.eclipse.mcp.test.junit.plugin.extension.category.failure">
      </category>
      <category
            name="extension.category">
      </category>
      <server
            name="server.name.fail">
      </server>
      <server
            id="org.eclipse.mcp.test.junit.plugin.extension.server.fail"
            name="server.name.fail"
            version="1.0.0">
      </server>
      <server
            id="org.eclipse.mcp.test.junit.plugin.extension.server.failtest"
            name="server.name.fail">
      </server>
      <tool
            id="org.eclipse.mcp.test.junit.plugin.extension.tool.noClass"
            name="tool.name"
            schema="{
  &quot;type&quot;: &quot;object&quot;,
  &quot;properties&quot;: {
    &quot;name&quot;: {
      &quot;type&quot;: &quot;string&quot;
    }
  },
  &quot;required&quot;: [&quot;name&quot;]
}">
      </tool>
      <tool
            class="org.eclipse.mcp.test.junit.plugin.extension.MCPTool.BadPath"
            id="org.eclipse.mcp.test.junit.plugin.extension.tool.badClassPath"
            name="tool.name"
            schema="{
  &quot;type&quot;: &quot;object&quot;,
  &quot;properties&quot;: {
    &quot;name&quot;: {
      &quot;type&quot;: &quot;string&quot;
    }
  },
  &quot;required&quot;: [&quot;name&quot;]
}">
      </tool>
            <tool
            class="org.eclipse.mcp.test.junit.plugin.extension.MCPResourceController"
            id="org.eclipse.mcp.test.junit.plugin.extension.tool.classWrongHierarchy"
            name="tool.name"
            schema="{
  &quot;type&quot;: &quot;object&quot;,
  &quot;properties&quot;: {
    &quot;name&quot;: {
      &quot;type&quot;: &quot;string&quot;
    }
  },
  &quot;required&quot;: [&quot;name&quot;]
}">
      </tool>
      <tool
            class="org.eclipse.mcp.test.junit.plugin.extension.MCPTool.NoID"
            name="tool.name"
            schema="{
  &quot;type&quot;: &quot;object&quot;,
  &quot;properties&quot;: {
    &quot;name&quot;: {
      &quot;type&quot;: &quot;string&quot;
    }
  },
  &quot;required&quot;: [&quot;name&quot;]
}">
      </tool>
      <tool
            class="org.eclipse.mcp.test.junit.plugin.extension.MCPTool"
            id="org.eclipse.mcp.test.junit.plugin.extension.tool.noName"
            schema="{
  &quot;type&quot;: &quot;object&quot;,
  &quot;properties&quot;: {
    &quot;name&quot;: {
      &quot;type&quot;: &quot;string&quot;
    }
  },
  &quot;required&quot;: [&quot;name&quot;]
}">
      </tool>
      <tool
            class="org.eclipse.mcp.test.junit.plugin.extension.MCPTool.BadPath"
            id="org.eclipse.mcp.test.junit.plugin.extension.tool.noSchema"
            name="tool.name">
      </tool>
      <tool
            class="org.eclipse.mcp.test.junit.plugin.extension.MCPTool"
            id="org.eclipse.mcp.test.junit.plugin.extension.tool.badSchema"
            name="tool.name"
            schema="not a good schema">
      </tool>

      <toolServerBinding
            toolId="org.eclipse.mcp.test.junit.plugin.extension.tool">
      </toolServerBinding>
      <toolServerBinding
            serverId="org.eclipse.mcp.test.junit.plugin.extension.server.failtest">
      </toolServerBinding>
      <toolServerBinding
            serverId="abcd"
            toolId="xyz">
      </toolServerBinding>
      <resourceController
            class="org.eclipse.mcp.test.junit.plugin.extension.MCPResourceController.BadPath"
            id="org.eclipse.mcp.test.junit.plugin.extension.controller"
            name="controller.name">
      </resourceController>
      <resourceController
            class="org.eclipse.mcp.test.junit.plugin.extension.MCPTool"
            id="org.eclipse.mcp.test.junit.plugin.extension.controller.wrongHierarchy"
            name="controller.name">
      </resourceController>
      <resourceController
            id="org.eclipse.mcp.test.junit.plugin.extension.controller.noClass"
            name="controller.name">
      </resourceController>
      <resourceController
            class="org.eclipse.mcp.test.junit.plugin.extension.MCPResourceController.noId"
            name="controller.name">
      </resourceController>
      <resourceController
            class="org.eclipse.mcp.test.junit.plugin.extension.MCPResourceController"
            id="org.eclipse.mcp.test.junit.plugin.extension.controller.noName">
      </resourceController>
      
      <resourceControllerServerBinding
           resourceControllerId="org.eclipse.mcp.test.junit.plugin.extension.controller">
      </resourceControllerServerBinding>
      <resourceControllerServerBinding
            serverId="org.eclipse.mcp.test.junit.plugin.extension.server">
      </resourceControllerServerBinding>
      <resourceControllerServerBinding
            serverId="asdf"
            resourceControllerId="qwerty">
      </resourceControllerServerBinding>
   </extension-->

</plugin>
