<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="org.eclipse.mcp.modelContextProtocolServer"
         id="org.eclipse.mcp.builtins"
         name="Built-Ins">
      <category
            id="org.eclipse.mcp.builtins.workbench"
            name="Workbench">
      </category>
      <server
            description="Workbench tools and resources"
            id="org.eclipse.mcp.builtins"
            name="Workbench"
            version="0.0.1"
            defaultPort="12931">
      </server>
      <tool
            categoryId="org.eclipse.mcp.builtins.workbench"
            class="org.eclipse.mcp.builtin.tool.ListConsoles"
            description="List the open consoles"
            id="org.eclipse.mcp.builtins.tool.ListConsoles"
            name="listConsoles"
            schema="{&#x0A;  &quot;type&quot;: &quot;object&quot;,&#x0A;  &quot;properties&quot;: {&#x0A;    &quot;query&quot;: {&#x0A;      &quot;type&quot;: &quot;number&quot;&#x0A;    },&#x0A;    &quot;quer1&quot;: {&#x0A;      &quot;type&quot;: &quot;string&quot;&#x0A;    },&#x0A;    &quot;quer3&quot;: {&#x0A;      &quot;type&quot;: &quot;boolean&quot;&#x0A;    },&#x0A;    &quot;query4&quot;: {&#x0A;      &quot;type&quot;: &quot;integer&quot;&#x0A;    }&#x0A;  },&#x0A;  &quot;required&quot;: [&quot;query&quot;]&#x0A;}">
      </tool>
      <tool
            class="org.eclipse.mcp.builtin.tool.ListEditors"
            id="org.eclipse.mcp.builtins.tool.ListEditors"
            name="listEditors"
            description="List the open editors"
            categoryId="org.eclipse.mcp.builtins.workbench"
            schema="{
				&quot;type&quot;: &quot;object&quot;,
				&quot;properties&quot;: {
				},
				&quot;required&quot;: []
			}">
      </tool>
      <tool
            class="org.eclipse.mcp.builtin.tool.CurrentSelection"
            id="org.eclipse.mcp.builtin.tool.CurrentSelection"
            name="getSelection"
            description="Returns the text selection of the active Eclipse IDE Editor"
            categoryId="org.eclipse.mcp.builtins.workbench"
            schema="{
				&quot;type&quot;: &quot;object&quot;,
				&quot;properties&quot;: {
				},
				&quot;required&quot;: []
			}">
      </tool>
      <toolServerBinding
            serverId="org.eclipse.mcp.builtins"
            toolId="org.eclipse.mcp.builtins.tool.ListConsoles">
      </toolServerBinding>
      <toolServerBinding
            serverId="org.eclipse.mcp.builtins"
            toolId="org.eclipse.mcp.builtins.tool.ListEditors">
      </toolServerBinding>
      <toolServerBinding
            serverId="org.eclipse.mcp.builtins"
            toolId="org.eclipse.mcp.builtin.tool.CurrentSelection">
      </toolServerBinding>
      <resourceController
            class="org.eclipse.mcp.builtin.resource.Editors"
            id="org.eclipse.mcp.builtins.resource.Editors"
            name="Open Editors"
            description="Contributes resources for each open editor text editor"
            categoryId="org.eclipse.mcp.builtins.workbench">
      </resourceController>
      <resourceControllerServerBinding
            serverId="org.eclipse.mcp.builtins"
            resourceControllerId="org.eclipse.mcp.builtins.resource.Editors">
      </resourceControllerServerBinding>
      <resourceController
            class="org.eclipse.mcp.builtin.resource.MvsResources"
            id="org.eclipse.mcp.builtin.resource.MvsResources"
            name="MVS Resources"
            description="Contributes resources for each open editor text editor"
            categoryId="org.eclipse.mcp.builtins.workbench">
         <resourceTemplate
         	uriPattern="mvs://{server}/{pds}/{member}"
         	name="PDS Member"
            description="Partitioned Data Set Member"
            mimeType="text/plain"
            role="USER">   
         </resourceTemplate>
      </resourceController>
      <resourceControllerServerBinding
            serverId="org.eclipse.mcp.builtins"
            resourceControllerId="org.eclipse.mcp.builtin.resource.MvsResources">
      </resourceControllerServerBinding>
   </extension>

</plugin>
