<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="org.eclipse.mcp.modelContextProtocolServer"
         id="org.eclipse.mcp.builtins"
         name="Eclipse Platform MCP Servers">
      <contributor
            id="org.eclipse.mcp.builtins.BuiltinsFactory"
            name="Platform MCP"
            description="MCP Services for Eclipse Platform">
         <factory class="org.eclipse.mcp.builtins.BuiltinFactoryProvider"/>
      </contributor>
   </extension>

</plugin>
