<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="org.eclipse.mcp.modelContextProtocolServer"
         id="org.eclipse.mcp.builtins"
         name="Eclipse Platform MCP Servers">
      <contributor
            id="org.eclipse.mcp.builtins.BuiltinsFactory"
            name="Platform MCP"
            description="MCP Services for Eclipse Platform"
            activityId="org.eclipse.mcp.platform">
         <factory class="org.eclipse.mcp.builtins.BuiltinFactoryProvider"/>
      </contributor>
   </extension>
   
    <extension point="org.eclipse.ui.activities">

      <activity id="org.eclipse.mcp.platform" 
          description="Editors, Consoles and Problems"
          name="Editors, Consoles and Problems" />

      <categoryActivityBinding activityId="org.eclipse.mcp.platform"
          categoryId="org.eclipse.mcp.activity" />
   
      <defaultEnablement id="org.eclipse.mcp.platform" />
    </extension>

</plugin>
